specVersion: 0.0.5
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum
    name: PlatformData
    network: {{network}}
    source:
      address: "{{address}}"
      abi: PlatformABI
      startBlock: {{ startBlock }}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - PlatformEntity
        - AMMAdapterEntity
        - MetaVaultFactoryEntity
      abis:
        - name: PlatformABI
          file: ./abis/PlatformABI.json
      eventHandlers:
        - event: Addresses(address,address,address,address,address,address,address,address,address,address,address,address)
          handler: handleAddresses
        - event: ContractInitialized(address,uint256,uint256)
          handler: handleContractInitialized
        - event: PlatformVersion(string)
          handler: handlePlatformVersion
        - event: AddDexAggregator(address)
          handler: handleAddDexAggregator
        - event: NewAmmAdapter(string,address)
          handler: handleNewAmmAdapter
      file: ./src/Platform.ts

templates:
  - kind: ethereum
    name: FactoryData
    network: {{network}}
    source:
      abi: FactoryABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - VaultEntity
        - VaultTypeEntity
        - StrategyEntity
        - StrategyConfigEntity
        - LastFeeAMLEntity
      abis:
        - name: FactoryABI
          file: ./abis/FactoryABI.json
        - name: PlatformABI
          file: ./abis/PlatformABI.json
        - name: VaultABI
          file: ./abis/VaultABI.json
        - name: StrategyBaseABI
          file: ./abis/StrategyBaseABI.json
        - name: LPStrategyBaseABI
          file: ./abis/LPStrategyBaseABI.json
        - name: ERC20UpgradeableABI
          file: ./abis/ERC20UpgradeableABI.json
        - name: ERC20DQMFABI
          file: ./abis/ERC20DQMFABI.json
        - name: HyperVisorABI
          file: ./abis/HyperVisorABI.json
        - name: DefiEdgeManagerABI
          file: ./abis/DefiEdgeManagerABI.json
        - name: DefiEdgeQuickSwapMerklFarmDataABI
          file: ./abis/DefiEdgeQuickSwapMerklFarmDataABI.json
        - name: DefiEdgeFactoryABI
          file: ./abis/DefiEdgeFactoryABI.json
        - name: DefiEdgeStrategyABI
          file: ./abis/DefiEdgeStrategyABI.json
        - name: VaultManagerABI
          file: ./abis/VaultManagerABI.json
        - name: StrategyLogicABI
          file: ./abis/StrategyLogicABI.json
        - name: IStrategyProxyABI
          file: ./abis/IStrategyProxyABI.json
        - name: getBalanceABI
          file: ./abis/getBalanceABI.json
        - name: PriceReaderABI
          file: ./abis/PriceReaderABI.json
      eventHandlers:
        - event: VaultAndStrategy(indexed address,string,string,address,address,string,string,address[],bytes32,uint256)
          handler: handleVaultAndStrategy
        - event: VaultConfigChanged(string,address,bool,bool,bool)
          handler: handleVaultConfigChanged
        - event: VaultStatus(indexed address,uint256)
          handler: handleVaultStatus
        - event: VaultProxyUpgraded(address,address,address)
          handler: handleVaultProxyUpgraded
        - event: StrategyProxyUpgraded(address,address,address)
          handler: handleStrategyProxyUpgraded
        - event: StrategyLogicConfigChanged(string,address,bool,bool,bool)
          handler: handleStrategyLogicConfigChanged
      file: ./src/Factory.ts
  - kind: ethereum
    name: SwapperData
    network: {{network}}
    source:
      abi: SwapperABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - SwapperEntity
        - PoolEntity
        - BCPoolEntity
      abis:
        - name: SwapperABI
          file: ./abis/SwapperABI.json
      eventHandlers:
        - event: BlueChipAdded((address,address,address,address))
          handler: handleBlueChipAdded
        - event: BlueChipPoolRemoved(address,address)
          handler: handleBlueChipRemoved    
        - event: PoolAdded((address,address,address,address),bool)
          handler: handlePoolAdded
        - event: PoolRemoved(address)
          handler: handlePoolRemoved      
      file: ./src/Swapper.ts
  - kind: ethereum
    name: VaultData
    network: {{network}}
    source:
      abi: VaultABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - VaultEntity
        - VaultHistoryEntity
      abis:
        - name: VaultABI
          file: ./abis/VaultABI.json
        - name: PriceReaderABI
          file: ./abis/PriceReaderABI.json
        - name: StrategyBaseABI
          file: ./abis/StrategyBaseABI.json
        - name: ERC20UpgradeableABI
          file: ./abis/ERC20UpgradeableABI.json
        - name: PlatformABI
          file: ./abis/PlatformABI.json
        - name: VaultManagerABI
          file: ./abis/VaultManagerABI.json  
        - name: ILeverageLendingStrategyABI
          file: ./abis/ILeverageLendingStrategyABI.json  
      eventHandlers:
        - event: Transfer(indexed address,indexed address,uint256)
          handler: handleTransfer
        - event: DepositAssets(indexed address,address[],uint256[],uint256)
          handler: handleDepositAssets
        - event: WithdrawAssets(indexed address,indexed address,address[],uint256,uint256[])
          handler: handleWithdrawAssets
        - event: VaultName(string)
          handler: handleVaultName
        - event: VaultSymbol(string)
          handler: handleVaultSymbol
        - event: DoHardWorkOnDepositChanged(bool,bool)
          handler: handleDoHardWorkOnDepositChanged
      file: ./src/Vault.ts
  - kind: ethereum
    name: deprecatedData
    network: {{network}}
    source:
      abi: deprecatedABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - VaultEntity
        - VaultHistoryEntity
      abis:
        - name: deprecatedABI
          file: ./abis/deprecatedABI.json
        - name: ILeverageLendingStrategyABI
          file: ./abis/ILeverageLendingStrategyABI.json  
      eventHandlers:
        - event: WithdrawAssets(indexed address,address[],uint256,uint256[])
          handler: handleWithdrawAssetsOld
      file: ./src/Vault.ts
  - kind: ethereum
    name: VaultManagerData
    network: {{network}}
    source:
      abi: VaultManagerABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - VaultEntity
      abis:
        - name: VaultManagerABI
          file: ./abis/VaultManagerABI.json
      file: ./src/VaultManager.ts
  - kind: ethereum
    name: StrategyData
    network: {{network}}
    source:
      abi: StrategyBaseABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - StrategyEntity
        - StrategyConfigEntity
        - VaultHistoryEntity
        - VaultUserEntity
      abis:
        - name: StrategyBaseABI
          file: ./abis/StrategyBaseABI.json
        - name: LPStrategyBaseABI
          file: ./abis/LPStrategyBaseABI.json
        - name: StrategyLogicABI
          file: ./abis/StrategyLogicABI.json
        - name: VaultManagerABI
          file: ./abis/VaultManagerABI.json
        - name: getBalanceABI
          file: ./abis/getBalanceABI.json
        - name: VaultABI
          file: ./abis/VaultABI.json
        - name: ERC20UpgradeableABI
          file: ./abis/ERC20UpgradeableABI.json
        - name: PriceReaderABI
          file: ./abis/PriceReaderABI.json
        - name: SwapperABI
          file: ./abis/SwapperABI.json
        - name: MulticallABI
          file: ./abis/MulticallABI.json
        - name: ILeverageLendingStrategyABI
          file: ./abis/ILeverageLendingStrategyABI.json      
      eventHandlers:
        - event: HardWork(uint256,uint256,uint256,uint256,uint256,uint256,uint256[])
          handler: handleHardWork
      file: ./src/Strategy.ts
  - kind: ethereum
    name: LeverageLendingStrategyData
    network: {{network}}
    source:
      abi: ILeverageLendingStrategyABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - VaultEntity
        - VaultLeverageLendingHistoryEntity
        - VaultLeverageLendingMetricsEntity
      abis:
        - name: StrategyBaseABI
          file: ./abis/StrategyBaseABI.json
        - name: ILeverageLendingStrategyABI
          file: ./abis/ILeverageLendingStrategyABI.json    
      eventHandlers:
        - event: LeverageLendingHardWork(int256,int256,uint256,uint256,uint256,uint256,uint256)
          handler: handleLeverageLendingHardWork
      file: ./src/LeverageLendingStrategy.ts       
  - kind: ethereum
    name: IchiQuickSwapMerklFarmData
    network: {{network}}
    source:
      abi: IchiQuickSwapMerklFarmABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - ALMRebalanceHistoryEntity
        - VaultEntity
      abis:
        - name: IchiQuickSwapMerklFarmABI
          file: ./abis/IchiQuickSwapMerklFarmABI.json
        - name: PriceReaderABI
          file: ./abis/PriceReaderABI.json
      eventHandlers:
        - event: Rebalance(int24,uint256,uint256,uint256,uint256,uint256)
          handler: handleRebalance
        - event: CollectFees(indexed address,uint256,uint256)
          handler: handleCollectFees
      file: ./src/IchiQuickSwapMerklFarm.ts
  - kind: ethereum
    name: IchiRetroMerklFarmData
    network: {{network}}
    source:
      abi: IchiRetroMerklFarmDataABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - ALMRebalanceHistoryEntity
        - VaultEntity
      abis:
        - name: IchiRetroMerklFarmDataABI
          file: ./abis/IchiRetroMerklFarmDataABI.json
        - name: PriceReaderABI
          file: ./abis/PriceReaderABI.json
      eventHandlers:
        - event: Rebalance(int24,uint256,uint256,uint256,uint256,uint256)
          handler: handleRebalance
      file: ./src/IchiRetroMerklFarm.ts
  - kind: ethereum
    name: DefiEdgeQuickSwapMerklFarmData
    network: {{network}}
    source:
      abi: DefiEdgeQuickSwapMerklFarmDataABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - LastFeeAMLEntity
      abis:
        - name: DefiEdgeQuickSwapMerklFarmDataABI
          file: ./abis/DefiEdgeQuickSwapMerklFarmDataABI.json
      eventHandlers:
        - event: Rebalance((int24,int24,uint256,uint256)[])
          handler: handleRebalance
        #- event: PartialRebalance((uint256,bool,uint256,uint256)[])
        #handler: handlePartialRebalance
      file: ./src/DefiEdgeQuickSwapMerklFarm.ts
  - kind: ethereum
    name: DefiEdgeFactoryData
    network: {{network}}
    source:
      abi: DefiEdgeFactoryABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - LastFeeAMLEntity
        - DefiEdgePoolsAndStrategies
      abis:
        - name: DefiEdgeFactoryABI
          file: ./abis/DefiEdgeFactoryABI.json
        - name: DefiEdgeStrategyABI
          file: ./abis/DefiEdgeStrategyABI.json
        - name: DefiEdgeQuickSwapMerklFarmDataABI
          file: ./abis/DefiEdgeQuickSwapMerklFarmDataABI.json
        - name: DefiEdgeManagerABI
          file: ./abis/DefiEdgeManagerABI.json
      # eventHandlers:
      # - event: ChangeProtocolPerformanceFee(address,uint256)
      #   handler: handleChangeProtocolPerformanceFee
      # eventHandlers:
      # - event: ChangeProtocolPerformanceFee(address,uint256)
      #   handler: handleChangeProtocolPerformanceFee
      file: ./src/DefiEdgeFactory.ts
  - kind: ethereum
    name: XSTBLData
    network: {{network}}
    source:
      abi: XSTBLABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - XSTBLHistoryEntity
      abis:
        - name: XSTBLABI
          file: ./abis/XSTBLABI.json
        - name: RevenueRouterABI
          file: ./abis/RevenueRouterABI.json
        - name: XStakingABI
          file: ./abis/XStakingABI.json    
      eventHandlers:
        - event: Enter(indexed address,uint256)
          handler: handleEnter
        - event: InstantExit(indexed address,uint256)
          handler: handleExit
      file: ./src/XSTBL.ts
  - kind: ethereum
    name: MetaVaultFactoryData
    network: {{network}}
    source:
      abi: MetaVaultFactoryABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - MetaVaultFactoryEntity
        - MetaVaultEntity
        - WrappedMetaVaultEntity
      abis:
        - name: MetaVaultFactoryABI
          file: ./abis/MetaVaultFactoryABI.json
        - name: MetaVaultABI
          file: ./abis/MetaVaultABI.json
        - name: WrappedMetaVaultABI    
          file: ./abis/WrappedMetaVaultABI.json  
      eventHandlers:
        - event: NewMetaVault(address,string,address,string,string,address[],uint256[])
          handler: handleNewMetaVault
        - event: NewWrappedMetaVault(address,address)
          handler: handleNewWrappedMetaVault  
      file: ./src/MetaVaultFactory.ts      
  - kind: ethereum
    name: MetaVaultData
    network: {{network}}
    source:
      abi: MetaVaultABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - MetaVaultEntity
        - UserMetaVaultEntity
        - UserMetaEntity
      abis:
        - name: MetaVaultABI
          file: ./abis/MetaVaultABI.json
      eventHandlers:
        - event: APR(uint256,int256,uint256,uint256,uint256)
          handler: handleAPR
        - event: DepositAssets(indexed address,address[],uint256[],uint256)
          handler: handleDepositAssets
        - event: WithdrawAssets(indexed address,indexed address,address[],uint256,uint256[])
          handler: handleWithdrawAssets
        - event: VaultName(string)
          handler: handleVaultName
        - event: VaultSymbol(string)
          handler: handleVaultSymbol
        - event: AddVault(address)
          handler: handleAddVault  
      file: ./src/MetaVault.ts      
  - kind: ethereum
    name: WrappedMetaVaultData
    network: {{network}}
    source:
      abi: WrappedMetaVaultABI
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.7
      language: wasm/assemblyscript
      entities:
        - WrappedMetaVaultEntity
      abis:
        - name: WrappedMetaVaultABI
          file: ./abis/WrappedMetaVaultABI.json
      eventHandlers:
        - event: Deposit(indexed address,indexed address,uint256,uint256)
          handler: handleDeposit
        - event: Withdraw(indexed address,indexed address,indexed address,uint256,uint256)
          handler: handleWithdraw
      file: ./src/WrappedMetaVault.ts       